<!DOCTYPE html>
<!-- saved from url=(0020)http://foodsense.is/ -->
<meta charset="utf-8">

<title>Food Sense | Plant-Based Eating At Its Best</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<meta name="viewport" content="width=device-width; initial-scale=1.0">

<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/foodsense-combined">

<!-- CSS -->
<link rel="stylesheet" media="screen, print" href="basic.css">
<!--[if gte IE 7]><!-->
<link rel="stylesheet" media="screen" href="screen.css">
<!--<![endif]-->
<!-- SCRIPTS -->
<script type="text/javascript" async="" src="./Food Sense_files/ga.js"></script>
<script type="text/javascript" src="./Food Sense_files/shn5sjh.js"></script>
<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
<script src="./Food Sense_files/jquery.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/-/js/jquery-1.6.1.js"%3E%3C/script%3E'))</script>
<!-- enable HTML5 elements in IE7+8 -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="/-/js/selectivizr.js"></script>
<![endif]-->
<script type="text/javascript" src="./Food Sense_files/scripts.js"></script>
<script type="text/javascript" src="./Food Sense_files/jquery.cycle.min.js"></script>
<script type="text/javascript" src="./Food Sense_files/featured.js"></script>

<body id="home-page">

    <div id="wrap">

        <header role="masthead">
            <h1 id="branding">Food Sense</h1>
            <nav>
                <ul>
                    <li id="t-tastemakers"><a href="http://foodsense.is/tastemakers">Tastemakers</a></li>
                    <li id="t-blog"><a href="http://foodsense.is/blog">Blog</a></li>
                    <li id="t-vendors"><a href="http://foodsense.is/a-list">The A-List</a></li>
                    <li id="t-contribute"><a href="http://foodsense.is/contribute">Contribute</a></li>
                    <li id="t-about"><a href="http://foodsense.is/about">About</a></li>
                </ul>
            </nav>
        </header>

        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
</body>
