
<div id="slides" style="position: relative;">

    <section id="slide-1" class="alt">
       <img src="@Url.Content(ViewBag.photo)" style="position: absolute; top: 0px; left: 0px; width:896px; height:400px;"> 
        <a href="">
            <h1>@ViewBag.name </h1>
            <h2>@ViewBag.releaseDate </h2>
        </a>
    </section>

</div>